*{
	padding: 0;
	margin: 0;
}
*, 
*:before, 
*:after { 
	box-sizing: inherit; 
}

html,body{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
h1, h2, h3, h4{
	text-transform:uppercase;
	font-family: 'Montserrat';
	font-weight: 400;
	letter-spacing: 2px;
}
p{
	padding: 0;
	margin: 0;
}
.page-titel{
	text-align: center;
	padding-bottom: 30px;
}
.pl{
	width: 70px;
	height: 2px;
	margin: 0 auto;
	background-color: #00bcd4;
	transition: all .3s;
}
.page-titel:hover > .pl{
	width: 110px;
}

.sl{
	width: 60px;
	height: 2px;
	margin: 0 auto;
	background-color: #00bcd4;
	transition: all .4s;
}

.nav { 
	transition: all .5s ease; 
	font-size: 12px;
	font-family: 'Open Sans', sans-serif; 
	width: 100%; 
	z-index: 1000; 
	position: absolute;
	 /* bottom: 0; */  
	 letter-spacing: 2px; 
	 line-height: 100px; 
	 -webkit-transition-property: background-color, box-shadow, line-height, height; 
	 transition-property: background-color, box-shadow, line-height, height; 
	 -webkit-transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86); 
	 transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86); 
	 -webkit-transition-duration: 0.3s; 
	 transition-duration: 0.3s;
	} 

.logo-img{
	width: 140px;
}
.nav .brand { 
	/* padding: 15px 60px; */ /* line-height: 30px; */ 
	line-height: 100px; 
	padding-left: 60px; 
	padding-right: 60px; 
	display: inline-block; 
	float: left; 
	font-size: 20px; 
	font-family: 'Pacifico', cursive; 
	-webkit-transition-property: background-color, box-shadow, line-height, height; 
	transition-property: background-color, box-shadow, line-height, height; 
	-webkit-transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86); 
	transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86); 
	-webkit-transition-duration: 0.3s; transition-duration: 0.3s; 
	/* padding-right: 60px; */ 
	} 
.nav .brand a { 
	color: #f29107; 
	text-decoration: none; 
	} 
.nav ul {
	margin: 0; 
	text-transform: uppercase; 
	} 
.nav ul li { 
	text-align: center; 
	display: inline-block; 
	list-style: none; 
	padding: 15px 15px; 
	cursor: pointer; 
	line-height: 30px; 
	} 


/*.nav ul li:hover a { 
	font-weight: bold; 
	} */


.nav ul li a { 
	color: #26c6da; 
	text-decoration: none; 
	} 
.sticky { 
		width: calc(100% - 260px);
		float: right;
		position: fixed !important;
		top: 0;
	    background: linear-gradient(70deg, #fff, #fff);
	    line-height: 30px; 
	    border-bottom: 1px solid #ccc;
	} 
.sticky .brand { 
	line-height: 60px; 
	} 
.sticky ul li a { 
	color: #26c6da;
	} 

.sticky ul li:hover a { 
	color: #000; 
	}  
.menu { 
	display: none; 
	} 
@media (max-width: 600px) { 
	.sticky .menu { top: 0; } 
	.sticky .menu .hamburger { background: #6E7982; } 
	.sticky .menu .hamburger::before, .sticky .menu .hamburger::after { background: #6E7982; } .open.sticky .hamburger { 
		background: transparent; 
		} 
	.open .hamburger { 
		background-color: transparent; 
		} 
	.open .hamburger::before { 
		-webkit-transform: rotate(45deg); 
		-ms-transform: rotate(45deg); 
		transform: rotate(45deg); 
		} 
	.open .hamburger::after { 
		-webkit-transform: rotate(-45deg) translate(2px, -2px); 
		-ms-transform: rotate(-45deg) translate(2px, -2px); 
		transform: rotate(-45deg) translate(2px, -2px); 
		} 
	.menu { 
		display: block; 
		outline: none; 
		position: relative; 
		line-height: 60px; 
		float: left; 
		left: 20px; 
		top: 20px; 
		width: 60px; 
		height: 60px; 
		background: none; 
		border: 0; 
		padding: 0; 
		margin: 0; 
		cursor: pointer; 
		opacity: 0.7; 
		-webkit-transition: opacity 150ms; 
		transition: opacity 150ms; 
		} 
	.menu:hover { 
		opacity: 1; 
		} 
	.hamburger, .hamburger::after, .hamburger::before {
		margin: 0 auto; 
		display: block; 
		width: 24px; 
		height: 3px; 
		line-height: 0; 
		-webkit-transition: all 150ms; 
		transition: all 150ms; 
		} 
	.hamburger::before { 
		content: ''; 
		-webkit-transform: rotate(45deg); 
		-ms-transform: rotate(45deg); 
		transform: rotate(45deg); 
		background: #fff; 
		} 
	.hamburger::after { 
		content: ''; 
		-webkit-transform: rotate(-45deg) translate(2px, -2px); 
		-ms-transform: rotate(-45deg) translate(2px, -2px); 
		transform: rotate(-45deg) translate(2px, -2px); 
		background: #fff; 
		} 
	.hamburger { 
		background: #fff; 
		} 
	.hamburger::after { 
		-webkit-transform: translateY(5px); 
		-ms-transform: translateY(5px); 
		transform: translateY(5px); 
		} 
	.hamburger::before { 
		-webkit-transform: translateY(-8px); 
		-ms-transform: translateY(-8px); 
		transform: translateY(-8px); 
		} 
	/*.collapse nav{ 
		-webkit-transform:translateY(-100%); 
		-ms-transform:translateY(-100%); 
		transform:translateY(-100%); 
		}*/ 
	.navbar { 
		-webkit-transition: -webkit-transform 150ms; 
		transition: transform 150ms;
		} 
	ul.navbar { 
		-webkit-transform: translate(-100%, 0); 
		-ms-transform: translate(-100%, 0); 
		transform: translate(-100%, 0); 
		/* transform: translateY(-200%); */ 
		padding-left: 0;
		} 
	ul.navbar li { 
		line-height: calc((100vh - 60px) / 6); 
		display: block; 
		} 
	.open .navbar { 
		-webkit-transform: translate(0, 0); 
		-ms-transform: translate(0, 0); 
		transform: translate(0, 0); 
		} 
	.nav .brand { 
		display: block; 
		text-align: center; 
		float: none; 
		} 
	.sticky .brand { 
		background-color: white; 
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); 
		} 
	#nav { 
		height: 100px; 
		}
	#nav.open { 
		height: auto; 
		min-height: 100%; 
		}
	#nav.sticky { 
		height: 60px; } 
	#nav .open.sticky { height: auto; } 
} 




.side-nav{
	width: 260px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}




#main{
	position: relative;
	float: right;
	width: calc(100% - 260px);
}





#content-area{
	width: 100%;
	height: 150vh;
}



#footer{
	padding: 30px 0;
	background: linear-gradient(60deg, #fff, #fff);
	border-top: 1px solid #ccc;
}
.footer-div{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #26c6da;
}
.footer-logo-div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footer-logo-div .footer-logo{
	width: 150px;
}
.facebook{
	background: #4267b2;
	box-shadow: 0 12px 20px -10px rgba(66, 103, 178, .28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
.twitter{
	background: #1da1f2;
	box-shadow: 0 12px 20px -10px rgba(29, 161, 242, .28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);	
}
.linkedin{
	background: #0084bf;
	box-shadow: 0 12px 20px -10px rgba(66, 103, 178, .28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
.google-plus{
	background: #676767;
	box-shadow: 0 12px 20px -10px rgba(103, 103, 103, .28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
.social{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.social-icon{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	margin: 5px;
}
.social-icon :hover{
	opacity: .6;
}

.footer-nav{
	display: flex;
	justify-content: center;
	transition: all .5s ease; 
	font-size: 12px;
	font-family: 'Open Sans', sans-serif; 
	width: 100%; 
	z-index: 1000; 
	 /* bottom: 0; */ 
	 left: 0; 
	 letter-spacing: 2px;  
	 -webkit-transition-property: background-color, box-shadow, line-height, height; 
	 transition-property: background-color, box-shadow, line-height, height; 
	 -webkit-transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86); 
	 transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86); 
	 -webkit-transition-duration: 0.3s; 
	 transition-duration: 0.3s;
}
.footer-nav ul {
	margin: 0; 
	text-transform: uppercase; 
	} 
.footer-nav ul li { 
	text-align: center; 
	display: inline-block; 
	list-style: none; 
	padding: 15px 15px; 
	cursor: pointer; 
	line-height: 30px; 
	} 


/*.nav ul li:hover a { 
	font-weight: bold; 
	} */


.footer-nav ul li a { 
	color: #26c6da; 
	text-decoration: none; 
	transition: all .2s;
	} 


.footer-nav ul li a:hover { 
	color: #000; 
	text-decoration: none; 
	} 

.footer-copy{
	text-transform: uppercase;
	text-align: center;
	padding: 5px;
	color: #757575;
	font-size: 11px;
	letter-spacing: 1.5px;
}